<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sanicola Health - Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
  </head>
  <body class="text-center">

<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8">
  <title>Sanicola Health - Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<main class="form-signin w-100 m-auto"></main>
<body class="align">

  <div class="grid align__item">

    <div class="register">
      <img src="https://o.remove.bg/downloads/1756b8da-f175-4648-918d-4248fde90461/Screenshot_2022-11-21_at_7.18.33_PM-removebg-preview.png" class="img-fluid transparency-grid" ondragstart="return false;" data-hj-suppress="true" data-v-ac702860="" style="max-height: 50vh;">
  
      <form action="{{ url_for('login') }}" method="post">
      
      <h2>Login</h2>

      <form action="" method="post" class="form">
        
        <div class="form__field">
          <input type="email" placeholder="info@mailaddress.com">
        </div>

        <div class="form__field">
          <input type="password" placeholder="••••••••••••">
        </div>

        <div class="form__field">
          <input type="submit" value="Sign Up">
        </div>

      </form>

      <p>Already have an account? <a href="{{ url_for('register') }}">Register</a></p>

    <br />

    </div>


  </form>


</main>
  </body>
</html>
