<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sanicola Health - Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
  </head>
  <body class="text-center">

<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8">
  <title>Sanicola Health - Signup</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body class="align">

  <div class="grid align__item">

    <div class="register">

       


    <!-- <link href="signin.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}"> 

  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">

  <form action="{{ url_for('register') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">Register Account</h1>

    <!-- create new input with drop down selection for account type -->
    <div class="form-floating">
      <select class="form-select" id="account_type" name="account_type">
        <option value="admin">Admin</option>
        <option value="patient">Patient</option>
      </select>
      <label for="floatingSelect">User Type</label>
    </div>

    <br />


    <br />
    
    <div class="form-group">
      <button class="btn btn-primary" type="submit" value="Next">Next</button>
    </div>


  </form>




</main>
  </body>
</html>
